.litebox, .litebox::before {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  min-width:100%;
  min-height:100%;
}

.litebox {
  display:none;
}

/* Added so the text inside doesn't inherit the opacity */
.litebox::before {
  content:"";
  background-color: #000;
  opacity:0.85;
}

form {
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin:-180px 0 0 -230px;
  width:410px;
  padding:20px;
  background-color:#e1e1e1;
  border:3px solid transparent;
  border-radius:4px;
  letter-spacing:-1px;
  opacity:1;
 
}

header h2 {
  margin:0 0 10px 0;
  width:100%;
  line-height:20px;
  height:35px;
  text-align: center;
  border-bottom:1px solid #cfcfcf;
  font-size:2.4em;

}

label {
  display:inline-block;
  font-style:italic;
  color:#222;
  width:49%;
  font-size:1.6em;
  margin:10px 0 5px 0;
}

label > span {
  color:#13b5ea;
  
}

input {
  background-color:#eee;
  height:38px;
  border:1px solid #878787;
  border-radius:4px;
  text-indent: 10px;
  outline: none;
}

input.business {
  width:100%;
}

input.half {
  width: 110px;
  padding:5px;
  height:28px;
  margin-right:80px;
}

ul {
  margin:0;
  padding:0;
}
li {
  text-indent:-9999px;
  overflow: hidden;
}

li, i.pos {
  display:inline-block;
  width:60px;
  height:38px;
  opacity:0.4;
  cursor:pointer;
  margin:0 8px 10px 0;
  background:url("../images/banner.png") no-repeat;
}

td i.pos {
  cursor:default;
}

.top, i.pos.p1 {
  background-position: 0 0;
}

.bottom, i.pos.p2 {
  background-position:-60px 0;
}

.top-left, i.pos.p3 {
  background-position:-120px 0;
}

.top-right, i.pos.p4 {
  background-position:-180px 0;
}

.bottom-left, i.pos.p5 {
  background-position:-300px 0;
}

.bottom-right, i.pos.p6 {
  background-position:-240px 0;

}
.bottom-right {
  margin-right:0;
}


.active {
  opacity:1;
}

button {
  display:inline-block;
  width:128px;
  height:38px;
  border-radius: 4px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  color:#ffffff;
  cursor:pointer;
}

.cancel {
  background-color: #363636;
  border:1px solid #111;
}

.save {
  float:right;
  background-color:#13b5ea;
  border:1px solid #388ca8;
}

.messages {
  display:block;
  min-width:100%;
}

p.error, p.success {
  display:block;
  min-width:100%;
  border-radius: 4px;
  padding:10px 0;
  margin:0;
}

.error {
  border:1px solid #7c2525;
}

.success {
  border:1px solid #49962a;
}