html, body {
	width:100%;
	height:100%;
}

body {
	position:relative;
	font:italic 10px Arial, sans-serif;
	outline:none;
	padding:0;
	margin:0;
	background-color:#e0e0e0;
}

header.main {
	position:relative;
	display:inline-block;
	background-color:#333;
	min-width:100%;
	height:70px;
	border-bottom:5px solid #13b5ea;
}

h1 {
  	text-align: center;
	color:#eee;
	height:70px;
	font:2em  "Century Schoolbook", "Times New Roman", "serif";
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	line-height:45px;
	letter-spacing: -2px;
}

h1 > span {
	color:#3ec2ee;
}

p {
	color:#666;
	font:italic 1.5em "Century Schoolbook", "Times New Roman", "serif";
	margin:20px auto;
	margin-bottom:20px;
	max-width:60%;
  text-align: center;
}

a {
	text-decoration: none;
}

a.new {
	position:absolute;
	height:10px;
	right:20px;
	top:20px;
	background-color:#13b5ea;
	color:#fff;
	border-radius:4px;
	padding:10px;
	line-height:12px;
	font-style: italic;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	font-size:1.2em;
}

table {
	color:#fff;
	width:548px;
	margin:0 auto;
	padding:0;
	border:1px solid #abaaaa;
	border-radius:4px;
	overflow:hidden;
	table-layout: fixed;
	border-spacing:0;

}

thead {
	background-color:#2d2d2d;
	font-size:1.3em;
	height:40px;

}

th {
	line-height:40px;
	border-bottom:4px solid #838383;
}

th.preview {
	width:69%;
}

th.position, th.delete {
	width:15%;
}

tbody {
	background-color:#e0e0e0;
}

tbody tr:nth-child(even) {
	background-color:#e9e9e9
}

td {
	width:100%;
	height:80px;
	border-top:1px solid #fff;
	border-bottom:1px solid #c7c7c7;
}

td p {
	display:block;
	min-width:90%;
	margin:0 auto;
	padding:8px;
	font:bold 1.9em Arial, "sans-serif";
}

td i.pos, a.delete {
	display:block;
	margin:20px auto;
	opacity:1;
}

a.delete {
	background:url(../images/delete.png) no-repeat;
	height:22px;
	width:22px;
	opacity:0.6;
}

a.delete:hover {
	opacity:1;
	cursor:pointer;
}